* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: PT Sans, sans-serif;
}

.pd-y {
    padding: 50px 0;
}

.section-header {
    text-align: center;
    margin-bottom: 30px;
}

.section-header .section-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.section-header .line {
    display: block;
    width: 90px;
    margin: auto;
    height: 2px;
    transition: width 0.5s;
    background-color: var(--mainColor);
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
}

.section-header:hover .line {
    width: 150px;
}


/* global */

.container {
    width: 80%;
    margin: auto;
}

.list-unstyled {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --mainColor: #7b5244;
    --subColor: #333;
}


/*Header */

.header {
    z-index: 2;
    width: 100%;
    position: fixed;
    background-color: #fff;
    padding: 20px 0;
}

.header-content img {
    flex: 1;
    max-width: 150px;
}

.header-content nav {
    flex: auto;
    text-align: center;
}

.header-content .login {
    flex: auto;
    text-align: right;
}

.header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content ul li {
    display: inline-block;
}

.header-content ul li,
.header-content ul li a {
    color: var(--subColor);
}

.header nav ul li .link-item {
    padding: 10px 23px;
    display: block;
    font-weight: bold;
    position: relative;
}

.header nav ul li .link-item::before {
    position: absolute;
    content: "";
    border-width: 0 2px;
    border-style: solid;
    border-color: var(--mainColor);
    width: 99%;
    height: 101%;
    left: 0;
    top: 0;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transform: scale3d(1, 0, 1);
    -webkit-transform: scale3d(1, 0, 1);
    -moz-transform: scale3d(1, 0, 1);
    -ms-transform: scale3d(1, 0, 1);
    -o-transform: scale3d(1, 0, 1);
}

.header nav ul li .link-item:hover::before {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transition-delay: 0.2s;
}

.header nav ul li .link-item::after {
    position: absolute;
    content: "";
    border-width: 2px 0;
    border-style: solid;
    border-color: var(--mainColor);
    width: 101%;
    height: 91%;
    left: 0;
    top: 0;
    transform-origin: left;
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transform: scale3d(0, 1, 1);
    -webkit-transform: scale3d(0, 1, 1);
    -moz-transform: scale3d(0, 1, 1);
    -ms-transform: scale3d(0, 1, 1);
    -o-transform: scale3d(0, 1, 1);
}

.header nav ul li .link-item:hover::after {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transition-delay: 0.4s;
}

.header .login ul li {
    padding: 10px;
    font-weight: bold;
}

.header .login ul li:last-child i {
    margin-right: 16px;
    position: relative;
}

.header .login ul li:last-child i::after {
    position: absolute;
    content: "0";
    padding: 4px;
    left: 24px;
    bottom: 0px;
    background-color: var(--mainColor);
    font-size: 13px;
    border-radius: 50%;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* slider*/

section.slider img {
    margin-top: 112px;
    width: 100%;
}


/* dropdown*/

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    width: 450px;
    padding: 15px;
    margin-top: 36px;
    background-color: #fff;
    border: 2px solid var(--mainColor);
    transition: transform 0.5s, visibility 0.5s;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: transform 0.5s, visibility 0.5s;
    -moz-transition: transform 0.5s, visibility 0.5s;
    -ms-transition: transform 0.5s, visibility 0.5s;
    -o-transition: transform 0.5s, visibility 0.5s;
}

.dropdown-menu ul {
    text-align: left;
    display: table-cell;
}

.dropdown-menu ul li:first-child a {
    margin-bottom: 10px;
    display: block;
    text-align: center;
    border-bottom: 1px solid var(--mainColor);
}

.dropdown-menu ul li {
    line-height: 1.7;
}

.dropdown:hover .dropdown-menu {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    visibility: visible;
    opacity: 1;
}


/* category section*/

.category-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
}

.category-items .category-item img {
    width: 100%;
    margin-bottom: 25px;
}

.category-item .category-item-subtitle {
    color: gray;
    font-weight: normal;
}

.category-item {
    position: relative;
}

.category-item .icon {
    background-color: var(--mainColor);
    color: #fff;
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    bottom: 0;
    right: 0;
    position: absolute;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
    -webkit-transition: visibility 0.5s, opacity 0.5s;
    -moz-transition: visibility 0.5s, opacity 0.5s;
    -ms-transition: visibility 0.5s, opacity 0.5s;
    -o-transition: visibility 0.5s, opacity 0.5s;
}

.category-item:hover .icon {
    visibility: visible;
    opacity: 1;
}

.bubble-container {
    margin-top: 30px;
    margin-left: 520px;
    padding: 10px;
}

.category .bubble1 {
    width: 10px;
    margin: 3px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 10px;
    background-color: #000;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    display: inline-block;
}

.bubble1:hover {
    background-color: var(--mainColor);
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}


/* discount*/

.discount {
    margin: 30px 0;
    display: flex;
    grid-template-columns: auto auto auto auto;
}

.discount-desc {
    background-color: #f7f3ef;
    flex: 2;
    position: relative;
    padding: 30px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.discount-desc .discount-subtitle {
    color: #7b5244;
    display: block;
    margin-top: 10px;
}

.discount-item {
    height: 300px;
    flex: 1;
    position: relative;
    transition: transform 0.2s;
    -webkit-transition: transform 0.2;
    -moz-transition: transform 0.2;
    -ms-transition: transform 0.2;
    -o-transition: transform 0.2;
}

.discount-desc .top {
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
}

.discount-desc .top .icon {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--mainColor);
}

.discount-desc .top+p {
    line-height: 1.7;
    color: #999999;
}

.discount-desc .bollets {
    text-align: right;
    position: absolute;
    bottom: 25px;
    right: 10px;
}

.discount-desc .bollets span {
    display: inline-block;
    width: 50px;
    height: 2px;
    transition: opacity 0.5s;
    background-color: var(--mainColor);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

.discount-desc .bollets span:hover {
    opacity: 0;
}

.discount-item:nth-child(2) {
    background-image: url(../images/cms-banner-1.jpg);
    background-size: cover;
    margin: 0 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.discount-item:nth-child(3) {
    background-image: url(../images/cms-banner-2.jpg);
    background-size: cover;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.discount-item:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.discount-item-info {
    position: absolute;
    left: 20px;
    top: 15px;
}

.discount-item-info h3 {
    color: var(--mainColor);
    font-size: 17px;
    font-weight: normal;
}

.discount-item-info h2 {
    font-size: 22px;
    font-weight: normal;
}


/* sprites*/

.sprites {
    display: flex;
    margin-bottom: 50px;
}

.sprite-item {
    flex: 1;
    text-align: center;
    border-right: 1px solid var(--mainColor);
}

.sprite-item:last-child {
    border: 0;
}

.sprite-info {
    margin-top: 20px;
}

.sprite-info h3 {
    font-size: 17px;
}

.sprite-info span {
    color: #999999;
    font-size: 15px;
}

.sprite-icon {
    background-image: url(../images/service-icon.png);
    height: 40px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.sprite-icon-1 {
    background-position: center -1px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.sprite-item:hover .sprite-icon-1 {
    background-position: center -94px;
}

.sprite-icon-2 {
    background-position: center -186px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.sprite-item:hover .sprite-icon-2 {
    background-position: center -277px;
}

.sprite-icon-3 {
    background-position: center -370px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.sprite-item:hover .sprite-icon-3 {
    background-position: center -460px;
}

.sprite-icon-4 {
    background-position: center -555px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.sprite-item:hover .sprite-icon-4 {
    background-position: center -647px;
}

.sprite-icon-5 {
    background-position: center -740px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.sprite-item:hover .sprite-icon-5 {
    background-position: center -834px;
}


/*products*/

.products {}

.products .list-product {
    display: flex;
    justify-content: center;
}

.list-product li {
    margin: 10px 20px;
    color: var(--mainColor);
}


/* product */

.products-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 35px 0;
}

.product-image {
    position: relative;
}

.product-image img {
    width: 100%;
}

.product-overlay {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.9s;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition: transform 0.9s;
    -moz-transition: transform 0.9s;
    -ms-transition: transform 0.9s;
    -o-transition: transform 0.9s;
}

.product-image:hover .product-overlay {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    opacity: 1;
    visibility: visible;
}

.product-overlay ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.product-overlay ul li {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: var(--mainColor);
}

.product-overlay ul li i {
    color: #fff;
    line-height: 30px;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}

.product-overlay ul li i:hover {
    color: rgb(240, 185, 185);
}

.product-info {
    margin: 5px 0;
}

.product-info .active {
    color: rgb(255, 222, 38);
}

.product-info span {
    display: block;
    margin: 5px 0;
    color: var(--mainColor);
}


/* event section*/

.event-item-img {
    background-image: url(../images/banner.PNG);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.event-content {
    display: flex;
    margin-top: 60px;
}

.event-item-img {
    position: relative;
    flex: 2;
}

.sub-img {
    width: 69px;
    height: 69px;
    background-image: url(../images/play.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.event-item-desc {
    margin-left: 20px;
    background-color: #f7f3ef;
    flex: 3;
    padding: 30px;
    position: relative;
}

.event-item-desc .top {
    position: relative;
    padding-left: 100px;
    margin-bottom: 20px;
}

.top-content {
    position: absolute;
    left: 10px;
}

.top-content span {
    display: block;
}

.top-content span:first-child {
    font-size: 33px;
    color: var(--mainColor);
    font-weight: bold;
}

.top-content span:nth-child(2) {
    font-size: 12px;
    color: var(--mainColor);
}

.top .top-event-title {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.event-item-desc p {
    color: gray;
    margin-top: 40px;
    line-height: 2.3;
    font-size: 14px;
}

.event-item-desc .bollets {
    text-align: right;
    position: absolute;
    bottom: 25px;
    right: 20px;
}

.event-item-desc .bollets span {
    display: inline-block;
    width: 50px;
    height: 2px;
    transition: opacity 0.5s;
    background-color: var(--mainColor);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

.event-item-desc .bollets span:hover {
    opacity: 0;
}

.flex-images {
    display: flex;
}

.flex-images img {
    margin: 40px 20px;
    flex: 1;
}


/* footer */

.footer {
    background-color: #0a0e11;
    text-align: center;
    color: #fff;
    display: flex;
    padding: 90px 121px;
}

.footer .footer-links {
    flex: 1;
    margin-left: 10px;
    text-align: left;
}

.footer .footer-links:first-child {
    flex: 2;
}

.footer-links p {
    margin: 25px 0;
    color: gray;
    line-height: 1.9;
    font-size: 15px;
}

.footer-links ul {
    margin: 25px 0;
    color: gray;
    line-height: 1.9;
    font-size: 15px;
}

.footer-links ul li:first-child {
    font-weight: bold;
    margin-bottom: 24px;
    color: #fff;
    font-size: 17px;
}

.footer-desc {
    color: #999;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 35px;
}

.final-links li {
    display: inline-block;
}

.final-links li a {
    display: block;
    width: 50px;
    height: 50px;
    color: gray;
    line-height: 50px;
    margin: 0 5px;
}